<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="/assets/images/1.jpg" alt="" class="img-responsive"> </div>
    <div class="element-left-bottom">
      <app-stars-filter
        [starsParam]="stars"
        (star)="onSelectHotelStars($event)"
      >
      </app-stars-filter>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <ul class="scrollbar style-2">
            <app-list [selectedHotel]="selectedHotel"
                      [hotels]="displayedHotels"
                      (hotel)="onSelectHotel($event)"
                      (favoriteHotel)="onAddFavoriteHotel($event)">
            </app-list>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [selectedHotel]="selectedHotel"></app-weather>
    <app-profile [selectedHotel]="selectedHotel"></app-profile>
    <app-favorite-hotels [favoriteHotels]="favoriteHotels"
                         >
    </app-favorite-hotels>
  </div>
  <div class="clear"></div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
