.temperatur {
  h5 {
    color: #fff;
    font-size: 1em;
  }
  h2 {
    color: #fff;
    font-size: 3.2em;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
  }
  h6 {
    font-size: 1em;
    color: #fff;
    margin:1em 0 0 0;
  }
  .cloud {
    background: url(/assets/images/cloudy.png)no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .cloud {
    background: url(/assets/images/cloudy.png)no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .cloud {
    background: url(/assets/images/cloudy.png)no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .w-line {
    background: url(/assets/images/w-line.png)no-repeat;
    width: 103px;
    height: 2px;
    display: block;
    margin:0.73em auto 0.72em;
  }
}
@media(max-width:1600px){
  .temperatur {
    margin-bottom:1.95em;
  }
}
@media(max-width:1440px){
  .temperatur {
    margin-bottom: 1.5em;
  }
}
@media(max-width:1366px){
  .temperatur {
    margin-bottom: 2.5em;
  }
}
@media(max-width:1024px){
  .temperatur {
    margin-bottom: 2.3em;
  }
}
@media(max-width:768px){
  .temperatur {
    margin-bottom: 2.1em;
  }
}
@media(max-width:736px){
  .temperatur {
    margin-bottom: 2em;
  }
}
@media(max-width:667px){
  .temperatur {
    margin-bottom: 2em;
  }
}
@media(max-width:640px){
  .temperatur {
    margin-bottom:2.3em;
  }
}
@media(max-width:480px){
  .temperatur {
    margin-bottom: 1.5em;
  }
}
