<div class="activity_box">
  <div class="scrollbar style-2">
    <div class="activity-row">
      <div class="activity-desc">
        <h5>Resort Address</h5>
        <p>Sed perspiciatis</p>
        <p>Et harum quidem</p>
        <h6>Tel:+1285 968 685</h6>
      </div>
      <div class="activity-img">
        <ul>
          <li><img src='/assets/images/res.jpg' alt=""/></li>
          <li><img src='/assets/images/r1.jpg' alt=""/></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="activity-row">
      <div class="activity-desc">
        <h5>Resort Address</h5>
        <p>Sed ut perspiciatis</p>
        <p>Et harum quidem</p>
        <h6>Tel:+1285 968 685</h6>
      </div>
      <div class="activity-img">
        <ul>
          <li><img src='/assets/images/res.jpg' alt=""/></li>
          <li><img src='/assets/images/r1.jpg' alt=""/></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="activity-row">
      <div class="activity-desc">
        <h5>Resort Address</h5>
        <p>Sed ut perspiciatis</p>
        <p>Et harum quidem</p>
        <h6>Tel:+1285 968 685</h6>
      </div>
      <div class="activity-img">
        <ul>
          <li><img src='/assets/images/res.jpg' alt=""/></li>
          <li><img src='/assets/images/r1.jpg' alt=""/></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
  </div>
</div>
