.teddy-bear {
  text-align: center;
  h4 {
    color: #fff;
  }
}
.teddy-text {
  background: #fd7b87;
  padding: 1.2em 1em;
  border-radius: 5px 5px 0 0;
  img {
    border-radius: 70px;
    border: 3px solid #fff;
  }
  span.w-line {
    background: url(/assets/images/w-line.png)no-repeat;
    width: 103px;
    height: 2px;
    display: block;
    margin:0.73em auto 0.72em;
  }
}
.teddy-follow {
  background: #f2f1ef;
  padding: 0.7em 0 0.7em 0;
  border-radius: 0 0 4px 4px;
  li {
    display: inline-block;
    padding:0 0.9em;
    h3 {
      font-size: 0.95em;
      color: #000;
      font-weight: bold;
    }
    p {
      font-size: 0.8em;
      color: #8A8A8A;
    }
  }
}
.teddy-follow li.folw-h {
  border-right: 1px solid #000;
}

@media(max-width:1440px){
  .teddy-text {
    padding: 1.2em 1em;
  }
}
